* {
	box-sizing: border-box;
	font-family: Arial, Helvetica, serif;
} 

body {
	font-size: 16px;
	background-color: #1c1c1c;
	margin: 0px;
}

#myModal 
{
    display: none;
    position: fixed;
    z-index: 2;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.85);
    z-index: 6;
}

.ModalRow
{
	margin-left: auto;
	margin-right: auto;
	margin-top: 50px;
}

.Close 
{
    position: fixed;
    top: 0px;
    right: 30px;
    color: red;
    font-size: 50px;
    font-weight: bold;
    transition: 0.3s;
    cursor: pointer;
    z-index: 10;
}

.Up 
{
    position: fixed;
    bottom: 5px;
    right: 30px;
    cursor: pointer;
    z-index: 10;
}

.Up a 
{
	text-decoration: none;
    color: gold;
    font-size: 25px;
    font-weight: bold;
    transition: 0.3s;
}

.SpecialTitle
{
	position: relative;
}

.Description
{
	position: absolute;
	bottom: 0px;
	height: 70px;
	width: 100%;
	background-color: black;
	opacity: 0.7;
	text-align: center;
	color: gold;
	font-weight: bold;
	padding-top: 5px;
}

.EdgeBorderDiv
{
	position: fixed;
	top: 40px;
	bottom: 40px;
	transition: 1s;
}

#backgroundFrame
{
	height: 100%;
	margin-left: auto;
	margin-right: auto;
	position: fixed;
	top: 0px;
	background-image: url("./images/petrov1.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover; /* auto, cover, contain*/
}

#mainFrame
{
	margin-left: auto;
	margin-right: auto;
	position: relative;
}

#negativeMarginCompensator
{
	margin-left: 40px;
	margin-right: 40px;
	position: relative;
}

h1
{
	text-align: center;
	color: #F5F5F5;
	margin-bottom: 0px;
}

#heart
{
	transition: 1s;
}

#countdown
{
	color: gray;
	text-align: center;
}

#guestInfo
{
	margin-top: 15px;
	text-align: center;
	color: white; /*#c4b5b5*/
	font-size: 0.9em;
	cursor: help;
	transition: 1s;
}

#hrInGuestInfo
{
	color: yellow;
	border-left: 0px;
	border-right: 0px;
	border-bottom: 0px;
	transition: 1s;
}

#buttonContainer
{
	/*position: absolute;
	top: 175px;*/
	width: 100%;
}

.Button
{
	/*position: relative;*/
	cursor: pointer;
	background-color: rgba(0,0,0,0.7);
	border: 1px solid black;
	border-radius: 25px;
	transition: 1s;
	color: silver;
	font-weight: bold;
	margin-top: 10px;
	margin-bottom: 10px;
}

.ButtonText
{
	text-align: center;
	padding: 25px;
}

.TextBox
{
	position: relative;
	transition: 1s;
}

.SlashInButtons
{
	color: gold;
	transition: 1s;
}

#ButtonContentFrame
{
	display: none;
	position: fixed;
	bottom: 2%;
	width: 100%;
	max-height: 96%;
	overflow: auto;
	z-index: 5;
	animation-name: animateButtonContentFrameDisplay;
    animation-duration: 1s;
}


/* Add Animation */
@keyframes animateButtonContentFrameDisplay 
{
    from {opacity:0;}
    to {opacity:1;}
}

#Fitter
{
	margin-left: auto;
	margin-right: auto;
}

#specialNegativeMarginCompensator
{
	height: 100%;
	margin-left: 20px;
	margin-right: 20px;
}

#buttonContentContainer
{
	background-color: rgba(0,0,0,0.50);
	border: 1px solid black;
	border-radius: 5px;
	transition: 1s;
	margin-left: auto;
	margin-right: auto;
	position: relative;
}

#CloseButtonContent
{
	position: absolute;
	top: -5px;
	right: -3px;
	color: red;
	font-weight: bold;
	font-size: 1.5em;
	transition: 1s;
	cursor: pointer;
}

#buttonContentItself
{
	border: 1px solid black;
	margin: 20px;
	/*max-height: 96%;*/
	overflow: auto;
	background-color: black;
}

.BoxHolder
{
	overflow: auto;
}

#ListOfRoomsByGuests, #ListOfRoomsByGuests ul
{
	color: gold;
}

#ListOfRoomsByGuests li div
{
	color: silver;
}

#booksToAnswerWhy > ul
{
	color: gold;
}

#booksToAnswerWhy > ul a
{
	color: silver;
	transition: 1s;
}

#parkingBrnoImage
{
	margin-left: auto;
	margin-right: auto;
	max-width: 672px;
}

#parkingFeastImage
{
	margin-left: auto;
	margin-right: auto;
	max-width: 777px;
}


/* Pseudo Class Selectors */
.Close:hover, .Close:active 
{
    color: red;
}

.Up a:hover, .Up a:active 
{
	color: #E3E3E3;
}

h1:hover
{
	cursor: none;
}

h1:hover #heart 
{
	font-size: 64px;
	color: red;
}

#leftBorder:hover
{
	border-right: 1px solid red;
}

#rightBorder:hover
{
	border-left: 1px solid red;
}

#countdown:hover
{
	cursor: wait;
}

#guestInfo:hover #hrInGuestInfo
{
	color: red;
}

.Button:hover
{
	background-color: rgba(0,0,0,0.4);
	color: #F5F5F5;
}

.Button:hover .TextBox:after
{
	opacity: 1;
	color: red;
}

.Button:hover .TextBox
{
	padding-right: 30px;
}

.Button:hover .SlashInButtons
{
	color: red;
}

.TextBox:after
{
	content: '\00bb';
	font-weight: bold;
	position: absolute;
	font-size: 2.5em;
	top: -18px;
	right: -30px;
	opacity: 0;
	transition: 1s;
}

#CloseButtonContent:hover, #CloseButtonContent:active
{
	color: red;
}

#booksToAnswerWhy > ul a:hover
{
	color: #F5F5F5;
	text-decoration: none;
}

/* Simple Responsive Framework */
.WholeRow
{
	width: 100%;
}

@media (min-width: 1600px)
{
	.Col-1600plus-DisplayNone
	{
		display: none;
	}
	.Col-1600plus-1
	{
		width: 8.33%;
	}
	.Col-1600plus-2
	{
		width: 16.66%;	
	}
	.Col-1600plus-3
	{
		width: 25%;
	}
	.Col-1600plus-4
	{
		width: 33.33%;
	}
	.Col-1600plus-5
	{
		width: 41.66%;
	}
	.Col-1600plus-6
	{
		width: 50%;
	}
	.Col-1600plus-7
	{
		width: 58.33%;
	}
	.Col-1600plus-8
	{
		width: 66.66%;
	}
	.Col-1600plus-9
	{
		width: 75%;
	}
	.Col-1600plus-10
	{
		width: 83.33%;
	}
	.Col-1600plus-11
	{
		width: 91.66%;
	}
	.Col-1600plus-12
	{
		width: 100%;
	}

	#leftBorder
	{
		width: 23.5%;
		border-right: 1px solid dimgray;
	}
	#rightBorder
	{
		width: 23.5%;
		border-left: 1px solid dimgray;
		right: 0;
	}
	#backgroundFrame /*mainFrame*/
	{
		left: 25%;
	}
	.Button
	{
		float: left;
		margin-left: 8.33%;
		margin-right: 8.33%;
	}
}

@media (min-width: 1200px) and (max-width: 1599px)
{
	.Col-1200to1599-DisplayNone
	{
		display: none;
	}
	.Col-1200to1599-1
	{
		width: 8.33%;
	}
	.Col-1200to1599-2
	{
		width: 16.66%;	
	}
	.Col-1200to1599-3
	{
		width: 25%;
	}
	.Col-1200to1599-4
	{
		width: 33.33%;
	}
	.Col-1200to1599-5
	{
		width: 41.66%;
	}
	.Col-1200to1599-6
	{
		width: 50%;
	}
	.Col-1200to1599-7
	{
		width: 58.33%;
	}
	.Col-1200to1599-8
	{
		width: 66.66%;
	}
	.Col-1200to1599-9
	{
		width: 75%;
	}
	.Col-1200to1599-10
	{
		width: 83.33%;
	}
	.Col-1200to1599-11
	{
		width: 91.66%;
	}
	.Col-1200to1599-12
	{
		width: 100%;
	}

	#leftBorder
	{
		width: 10%;
		border-right: 1px solid dimgray;
	}
	#rightBorder
	{
		width: 10%;
		border-left: 1px solid dimgray;
		right: 0;
	}
	#backgroundFrame /*mainFrame*/
	{
		left: 12.5%;
	}
	.Button
	{
		float: left;
		margin-left: 4.17%;
		margin-right: 4.17%;
	}
}

@media (max-width: 1199px)
{
	.Col-1199AndLess-DisplayNone
	{
		display: none;
	}
	.Col-1199AndLess-1
	{
		width: 8.33%;
	}
	.Col-1199AndLess-2
	{
		width: 16.66%;	
	}
	.Col-1199AndLess-3
	{
		width: 25%;
	}
	.Col-1199AndLess-4
	{
		width: 33.33%;
	}
	.Col-1199AndLess-5
	{
		width: 41.66%;
	}
	.Col-1199AndLess-6
	{
		width: 50%;
	}
	.Col-1199AndLess-7
	{
		width: 58.33%;
	}
	.Col-1199AndLess-8
	{
		width: 66.66%;
	}
	.Col-1199AndLess-9
	{
		width: 75%;
	}
	.Col-1199AndLess-10
	{
		width: 83.33%;
	}
	.Col-1199AndLess-11
	{
		width: 91.66%;
	}
	.Col-1199AndLess-12
	{
		width: 100%;
	}
}